<!DOCTYPE html>

<html lang="en" manifest="pifa.appcache">
  <head>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" name="viewport">
    <meta content="PIFA" name="apple-mobile-web-app-title">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="REAL PIFA, PIFA, prediction FIFA" />
    <meta name="description" content="A league of prediction" />
    <meta name="robots" content="index, follow" />

    <title>PIFA</title>

    <link href="assets/image/touch-icon-144.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" href="assets/bs3/css/bootstrap.min.css">

    <style>
      body {
        font-size: 12px;
        color: #666666;
      }

      div.pts {
        color: #ecf0f1;
      }

      div.BOOM {
        background-color: rgba(149, 165, 166, 0.8);
      }

      div.spot-on {
        background-color: rgba(46, 204, 113, 0.8);
      }

      div.gd {
        background-color: rgba(155, 89, 182, 0.8);
      }

      div.win {
        background-color: rgba(52, 152, 219, 0.8);
      }

      div.lose {
        background-color: rgba(231, 76, 60, 0.8);
      }

      div.forfeit {
        background-color: rgba(243, 156, 18, 0.8);
      }

      .mb0 {
        margin-bottom: 0px;
      }

      .mt0 {
        margin-top: 0px;
      }

      h3.list-group-item-heading {
        margin-bottom: 14px;
      }

      p.list-group-item-text {
        margin-bottom: -6px;
      }

      .palyer-name {
        margin-left: -9px;
      }
    </style>
  </head>

  <body ng-app="PIFA" ng-controller="PIFACtrl">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="text-muted text-center mb0">PIFA</h1>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <p class="mt0 mb0">SPOT-ON draw (R)</p>
          <p class="mt0 mb0">GD draw (R)</p>
          <p class="mt0 mb0">SPOT-ON</p>
          <p class="mt0 mb0">GD</p>
          <p class="mt0 mb0">Winning side</p>
          <p class="mt0 mb0">Wrong</p>
          <p class="mt0 mb0">Forfeit</p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <p class="mt0 mb0"><strong class="text-warning">4</strong> PTS</p>
          <p class="mt0 mb0"><strong class="text-warning">3</strong> PTS</p>
          <p class="mt0 mb0"><strong class="text-success">3</strong> PTS</p>
          <p class="mt0 mb0"><strong class="text-info">2</strong> PTS</p>
          <p class="mt0 mb0"><strong class="text-primary">1</strong> PT</p>
          <p class="mt0 mb0"><strong class="text-danger">-1</strong> PT</p>
          <p class="mt0 mb0"><strong class="text-danger">-2</strong> PTS</p>
        </div>
      </div>

      <hr>

      <!-- STAT -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Standings <small class="text-muted"> `B` stands for 'BOOM'</small></h3>

          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Player</th>
                <th class="text-success">B</th>
                <th class="text-success">RD</th>
                <th class="text-success">SO</th>
                <th class="text-success">GD</th>
                <th class="text-success">W</th>
                <th class="text-danger">L</th>
                <th class="text-warning">F</th>
                <th class="text-primary">PTS</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="player in playersList | orderBy:'stat.forfeit':false | orderBy:'stat.wrong':false | orderBy:'stat.right':true | orderBy:'stat.gd':true | orderBy:'stat.spotOn':true | orderBy:'stat.rgd':true | orderBy:'stat.boom':true | orderBy:'stat.PTS':true">
                <td ng-bind="player.name"></td>
                <td ng-bind="player.stat.boom"></td>
                <td ng-bind="player.stat.rgd"></td>
                <td ng-bind="player.stat.spotOn"></td>
                <td ng-bind="player.stat.gd"></td>
                <td ng-bind="player.stat.right"></td>
                <td ng-bind="player.stat.wrong"></td>
                <td ng-bind="player.stat.forfeit"></td>
                <td ng-bind="player.stat.PTS"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <!-- PREDICTION -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Predictions <small class="text-muted">the `P` in PIFA</small></h3>

          <div class="list-group text-center">
            <div class="list-group-item" ng-repeat="prediction in nextPredictions">
              <h3 class="list-group-item-heading">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.match.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left"
                    ng-bind="prediction.match.teamB"
                  ></div>
                </div>
              </h3>

              <!-- Bini -->
              <p class="list-group-item-text text-muted" >
                <div class="row" ng-hide="prediction.prediction.bini === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.bini.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.bini.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">Bini</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- Eyassu -->
              <p class="list-group-item-text text-muted" >
                <div class="row" ng-hide="prediction.prediction.eyassu === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.eyassu.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.eyassu.teamB"
                      >
                      </div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">Eyassu</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- LardAss -->
              <p class="list-group-item-text text-muted">
                <div class="row" ng-hide="prediction.prediction.lardAss === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.lardAss.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.lardAss.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">LardAss</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- kaleab -->
              <p class="list-group-item-text text-muted">
                <div class="row" ng-hide="prediction.prediction.kaleab === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.kaleab.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.kaleab.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">kaleab</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- Moe -->
              <p class="list-group-item-text text-muted">
                <div class="row" ng-hide="prediction.prediction.moe === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.moe.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.moe.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">Moe</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- snitch -->
              <p class="list-group-item-text text-muted">
                <div class="row" ng-hide="prediction.prediction.snitch === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.snitch.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.snitch.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">Snitch</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

              <!-- Yoseph -->
              <p class="list-group-item-text text-muted">
                <div class="row" ng-hide="prediction.prediction.yoseph === undefined">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="prediction.prediction.yoseph.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <div class="row">
                      <div
                        class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                        ng-bind="prediction.prediction.yoseph.teamB"
                      ></div>

                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <span class="text-muted palyer-name">Yoseph</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>

            </div>
          </div>

        </div>
      </div>

      <hr>

      <!-- TABLE -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Games</h3>

          <div class="list-group text-center">
            <div class="list-group-item" ng-repeat="match in matches">
              <h3 class="list-group-item-heading">
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                    <span ng-bind="match.match.teamA"></span>&nbsp;&nbsp;&nbsp;<span class="text-muted" ng-bind="match.match.scoreA"></span>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                    <span class="text-muted" ng-bind="match.match.scoreB"></span>&nbsp;&nbsp;&nbsp;<span ng-bind="match.match.teamB"></span>
                  </div>
                </div>
              </h3>



              <!-- Bini -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.bini.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.bini.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.bini === 4, 'spot-on': match.pts.bini === 3, 'gd': match.pts.bini === 2, 'win': match.pts.bini === 1, 'lose': match.pts.bini === -1, 'forfeit': match.pts.bini === -2}"
                        ng-bind="match.pts.bini"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">Bini</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- Eyassu -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.eyassu.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.eyassu.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.eyassu === 4, 'spot-on': match.pts.eyassu === 3, 'gd': match.pts.eyassu === 2, 'win': match.pts.eyassu === 1, 'lose': match.pts.eyassu === -1, 'forfeit': match.pts.eyassu === -2}"
                        ng-bind="match.pts.eyassu"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">Eyassu</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- lardAss -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.lardAss.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.lardAss.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.lardAss === 4, 'spot-on': match.pts.lardAss === 3, 'gd': match.pts.lardAss === 2, 'win': match.pts.lardAss === 1, 'lose': match.pts.lardAss === -1, 'forfeit': match.pts.lardAss === -2}"
                        ng-bind="match.pts.lardAss"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">LardAss</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- kaleab -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.kaleab.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.kaleab.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.kaleab === 4, 'spot-on': match.pts.kaleab === 3, 'gd': match.pts.kaleab === 2, 'win': match.pts.kaleab === 1, 'lose': match.pts.kaleab === -1, 'forfeit': match.pts.kaleab === -2}"
                        ng-bind="match.pts.kaleab"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">kaleab</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- Moe -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.moe.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.moe.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.moe === 4, 'spot-on': match.pts.moe === 3, 'gd': match.pts.moe === 2, 'win': match.pts.moe === 1, 'lose': match.pts.moe === -1, 'forfeit': match.pts.moe === -2}"
                        ng-bind="match.pts.moe"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">Moe</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- snitch -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.snitch.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.snitch.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.snitch === 4, 'spot-on': match.pts.snitch === 3, 'gd': match.pts.snitch === 2, 'win': match.pts.snitch === 1, 'lose': match.pts.snitch === -1, 'forfeit': match.pts.snitch === -2}"
                        ng-bind="match.pts.snitch"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">Snitch</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>



              <!-- Yoseph -->
              <p class="list-group-item-text text-muted">
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right"
                    ng-bind="match.prediction.yoseph.teamA"
                  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <small class="text-muted">-</small>
                  </div>

                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"
                        ng-bind="match.prediction.yoseph.teamB"
                      ></div>

                      <div
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center pts"
                        ng-class="{'BOOM': match.pts.yoseph === 4, 'spot-on': match.pts.yoseph === 3, 'gd': match.pts.yoseph === 2, 'win': match.pts.yoseph === 1, 'lose': match.pts.yoseph === -1, 'forfeit': match.pts.yoseph === -2}"
                        ng-bind="match.pts.yoseph"
                      ></div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <span class="text-muted palyer-name">Yoseph</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>

      <footer class="text-center">
        <small class="text-muted">&copy; 2014, PIFA (patent pending)</small>
      </footer>
    </div>

    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
